{% extends 'Admin_base.html' %}
{% block content %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
       <b> Marketing Banner</b>
    </h1>
  </div>

<hr>
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form method="POST" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          <div class="form-group">
            <label for="url">URL</label>
            {{ form.url(class="form-control", id="url") }}
          </div>
          <div class="form-group">
            <label for="file">Image (800px X 250px)</label>
            {{ form.file(class="form-control-file", id="file") }}
          </div>
          <button type="submit" class="btn btn-success justify-content-end" >Submit</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}