{% extends "Admin_base.html" %}
{% block content %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
       <b> Adding Main Category</b>
    </h1>
  </div>

<HR>
  <div class="container">


    <form method="POST">
      {{ form.csrf_token }}
      <div class="mb-3 flex flex-row">
        <label for="name" class="form-label"><b>Name</b></label>
        {{ form.name(class="form-control", placeholder="Enter your name") }}
      </div>
      <div class="d-flex justify-content-end">
      {{ form.submit(class="btn btn-primary") }}
    </div>
    </form>
  </div>
  


{% endblock content %}