{% extends 'Admin_base.html' %}
{% block content %}
<button class="btn btn-success btn-lg btn-icon-split p-1"
  onclick="window.location.href='{{url_for('Banner.addBanner')}}'">
  Add Banner
</button>
<!-- Divider -->
<hr class="sidebar-divider">
<div class="row">
{% for element in data %}
<div class="col-lg-6">

  <div class="card mb-4">
    <div class="card-header">
      Banner
    </div>
    <div class="card-body">
      <img src="{{ 'https://'+ element.image_link}}" alt="" class="common-image col-lg-12  /><br>
      <!-- Divider -->
      <hr class=" sidebar-divider">
      <div class="p-3">
        <button class="btn btn-danger btn-icon-split p-1"
          onclick="window.location.href='{{ url_for('Banner.deleteBanner', banner_id=element['_id']) }}'">
          Delete
        </button>
      </div>

    </div>
  </div>

</div>
{% endfor %}
</div>
{% endblock %}
