{% extends 'Admin_base.html' %}
{% block content %}

<button class="btn btn-success btn-icon-split p-2"
onclick="window.location.href='{{ url_for('NewArrivals.addArrival')  }}'">
Add New Arrivals
</button>
<hr>

    <div class="container">
        <h1>New Arrivals</h1>
        <div class="row">
            {% for item in data %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.title }}</h5>
                            <p class="card-text">{{ item.description }}</p>
                            <a href="{{ item.video_url }}" class="btn btn-primary" target="_blank">Watch Video</a>
                        </div>
                    
                            <button class="btn btn-danger btn-icon-split p-1"
                    onclick="window.location.href='{{ url_for('NewArrivals.deleteArrival', arrival_id=item['_id']) }}'">
                    Delete
                  </button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>



{% endblock %}
