{% extends "Admin_base.html" %}
{% block content %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Product Table</h1>
  <a
    href="#"
    class="btn btn-success btn-icon-split justify-content-end"
    onclick="window.location.href='{{ url_for('Admin.add_product', sub_id=sub_id, main_id=main_id) }}'"
  >
    <span class="icon text-white-50">
      <i class="fa-solid fa-plus"></i>
    </span>
    <span class="text">Add Product </span>
  </a>
</div>



<div class="container-fluid">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Name</th>
              <th>Action</th>

            </tr>
          </thead>

          <tbody>
            {% for element in data %}
            <tr>
                <td>{{ element.name }}</td>
                <td>
                  <button class="btn btn-primary"
                        onclick="window.location.href='{{ url_for('productdetails', prod_id=element['_id'], Sub_id=sub_id, Main_id=main_id) }}'">
                        View
                    </button>
            
                    <button class="btn btn-success"
                        onclick="window.location.href='{{ url_for('Admin.ViewProductDetails', Product_id=element['_id'], Sub_id=sub_id, Main_id=main_id) }}'">
                        Edit
                    </button>
            
                    <button class="btn btn-warning"
                        onclick="window.location.href='{{ url_for('Admin.selectimage', product_id=element['_id']) }}'">
                        Change Image
                    </button>
            
                    <!-- Button to trigger delete confirmation modal -->
                    <button class="btn btn-danger" data-toggle="modal" data-target="#confirmDeleteModal{{ loop.index }}">
                        Delete
                    </button>
            
                    <!-- Modal -->
                    <div class="modal fade" id="confirmDeleteModal{{ loop.index }}" tabindex="-1" role="dialog"
                        aria-labelledby="confirmDeleteModalLabel{{ loop.index }}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="confirmDeleteModalLabel{{ loop.index }}">Confirm Delete</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete "<b>{{ element.name }}</b>"?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <!-- Modify this button to perform the delete action -->
                                    <button type="button" class="btn btn-danger"
                                        onclick="window.location.href='{{ url_for('Admin.delete_product', main_id=sub_id, sub_id=main_id, product_id=element['_id']) }}'">
                                        Confirm Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
            

          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
{% endblock content %}